[access]
	inheritFrom = All-Projects
[submit]
	action = rebase if necessary
[access "refs/heads/*"]
	forgeAuthor = group BQ Dev
	forgeCommitter = group BQ Dev
	push = group BQ Dev
	label-Code-Review = -2..+2 group BQ Dev
	label-Verified = -1..+1 group BQ Dev
	submit = group BQ Dev
	create = group BQ Dev
